#container {
    text-align: center;
    font-size: 20px;
}

#comecar {
    background: #069;
    color: white;
    font-size: 30px;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}
#comecar:hover{
    background: black;
}

#display{
    text-align: center;
}
